html {
  --color-light-0: #ffffd2;
  --color-light-1: #ffffcc;
  --color-light-2: #ffffe8;
  --color-light-3: #fffff4;
  --color-light-4: #fffffc;
  --color-middle-0: #3d9eff;
  --color-dark-0: rgb(60, 62, 173);
  --color-dark-1: #3e4491;
  --color-dark-2: #292a73;
  --color-dark-3: #1a1b4b;
  --color-important: #ff4b4b;
  --color-important-light: #ff7b7b;
  --color-important-dark: #ff0000;
  --signal-connector-color: #ffb300;
  --var-connector-color: #00d427;
  --connector-extend: 8px;
}

body {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.cannot-select {
  user-select: none;
}

.container-header {
  flex: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 3px solid var(--color-dark-0);
}

.container-main {
  flex: 1;
  padding: 20px;
}

.connector-region {
  position: absolute;
  width: var(--connector-extend);
  height: calc(100% - 10px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-connector-region {
  left: calc(-1 * var(--connector-extend) - 1px);
}

.right-connector-region {
  right: calc(-1 * var(--connector-extend) + 1px);
}

.connector-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.connector {
  width: calc(var(--connector-extend) - 1px);
  border-radius: 2px;
  cursor: pointer;
  height: 8px;
  transition: transform 0.1s ease;
  border: 1px solid #666;
}

.signal-connector {
  background-color: var(--signal-connector-color);
}

.right-connector-region .connector {
  margin-left: 1px;
}

.left-connector-region .connector {
  margin-right: 1px;
}

.var-connector {
  background-color: var(--var-connector-color);
}

.el-message-box.clear-workspace-dialog {
  border-radius: 12px;
  padding: 20px 25px;
}

.clear-workspace-dialog .el-button {
  border-radius: 8px;
}

.clear-workspace-dialog .el-button.cancel-btn {
  background-color: #ffffff;
  border-color: gray;
}

.clear-workspace-dialog .el-button.cancel-btn:hover {
  background-color: var(--color-light-3);
  color: black;
  border-color: black;
}

.clear-workspace-dialog .el-button.confirm-btn {
  background-color: var(--color-important);
  border-color: var(--color-important-dark);
}

.clear-workspace-dialog .el-button.confirm-btn:hover {
  background-color: var(--color-important-dark);
}

.canvas-controls .clear-btn {
  background-color: var(--color-important);
  color: white;
  border-color: var(--color-important-dark);
}

.canvas-controls .clear-btn:hover {
  background-color: var(--color-important-dark);
}

.canvas-controls .clear-btn.invalid {
  background-color: gainsboro;
  cursor: auto;
  border-color: transparent;
}

.canvas-controls .scale-text {
  min-width: 70px;
  padding: 4px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.window-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 10px;
  gap: 5px;
}

.window-controls .control-button {
  cursor: pointer;
  width: 30px;
  height: 18px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.window-controls .control-button:hover {
  background-color: #e4e4e4;
}

.window-controls .control-button .icon {
  fill: #262626;
}

.window-controls .control-button.close:hover {
  background-color: var(--color-important);
}

.window-controls .control-button.close:hover path {
  fill: white;
}

.drag {
  -webkit-app-region: drag;
}

.drag button {
  -webkit-app-region: no-drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.home-aside {
  background-image: linear-gradient(
    180deg,
    var(--color-light-3) 0%,
    var(--color-light-4) 100%
  );
  /* background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%); */
  border-right: 1px solid var(--color-dark-2);
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  padding-top: 0px;
  padding-bottom: 20px;
  height: calc(100% - 20px);
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar-title {
  width: calc(100% - 10px);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: 600;
  background-color: var(--color-dark-1);
  color: white;
  border-radius: 8px;
  padding: 10px 5px;
  overflow: hidden;
}

.block-sidebar {
  z-index: 2;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  gap: 20px;
  width: 100%;
}

.canvas-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.canvas-controls button {
  padding: 4px 8px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 8px;
  background-color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.canvas-controls .icon {
  width: 16px;
  height: 16px;
}

.canvas-controls button .icon {
  padding-bottom: 2px;
}

.delete-zone {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 60px;
  background-color: var(--color-important-light);
  opacity: 0.75;
  border: 2px dashed #cc0000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  z-index: 5;
  transition: all 0.2s ease;
  pointer-events: none;
}

.delete-zone.active {
  background-color: var(--color-important);
  opacity: 0.9;
  border-color: #cc0000;
}

.aside-toggle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 60px;
  background-color: #f0f2f5;
  /* border: 2px solid #dcdfe6; */
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.aside-toggle-button:hover {
  background-color: #e4e7ed;
}

/* 连接线相关样式 */
.connections-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2; /* 确保连线在块之上 */
  overflow: visible;
}

.connection-line {
  stroke-width: 2;
  fill: none;
  pointer-events: stroke;
  cursor: pointer;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.connection-line.signal-connection {
  stroke: var(--signal-connector-color);
}

.connection-line.var-connection {
  stroke: var(--var-connector-color);
}

.connection-line:hover {
  stroke: var(--color-important-light);
  stroke-width: 3;
  filter: none;
}

.connection-line.selected {
  stroke: var(--color-important);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  stroke-width: 3;
}

.connecting-line {
  stroke: var(--color-middle-0);
  stroke-width: 2;
  stroke-dasharray: 5, 5;
  fill: none;
  pointer-events: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.connector:hover {
  cursor: pointer;
}

.connector.active {
  background-color: var(--color-middle-0);
}

.connector.connected.var-connector {
  background-color: var(--var-connector-color);
}

.connector.connected.signal-connector {
  background-color: var(--signal-connector-color);
}

.connector.snapped {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.3);
}

/* 选择框样式 */
.selection-box {
  position: absolute;
  border: 2px dashed var(--color-middle-0);
  background-color: rgba(127, 191, 255, 0.2);
  pointer-events: none;
  z-index: 100;
}

.el-message-box.default-message-box {
  border-radius: 12px;
  padding: 20px 25px;
}

.default-message-box .el-button {
  border-radius: 8px;
}

.default-message-box .el-button.cancel-btn {
  background-color: #ffffff;
  border-color: gray;
  font-weight: 600;
}

.default-message-box .el-button.cancel-btn:hover {
  background-color: var(--color-light-3);
  color: black;
  border-color: black;
}

.default-message-box .el-button.confirm-btn {
  background-color: var(--color-dark-0);
  font-weight: 600;
}

.default-message-box .el-button.confirm-btn:hover {
  background-color: var(--color-dark-2);
}

.default-loading .el-loading-spinner .circular {
  height: 80px !important;
  width: 80px !important;
}

.default-loading .el-loading-spinner .path {
  stroke-width: 4px;
  stroke: var(--color-dark-0);
}

.default-loading .el-loading-spinner .el-loading-text {
  font-size: x-large;
  color: var(--color-dark-0);
  font-weight: 600;
  margin-top: 40px;
}

.default-loading.el-loading-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.default-loading .el-loading-spinner {
  top: unset;
  margin-top: unset;
}
