html {
  --color-light-0: #ffffd2;
  --color-light-1: #ffffcc;
  --color-light-2: #ffffe8;
  --color-light-3: #fffff4;
  --color-dark-0: #3e82a9;
  --color-dark-1: #2c698d;
  --color-dark-2: #264653;
  --color-dark-3: #272643;
  --color-important: #ff4b4b;
  --color-important-light: #ff7b7b;
  --color-important-dark: #ff0000;
  --color-drag-block-type-1: #6fc900;
  --color-drag-block-type-2: #f1bd00;
  --color-drag-block-type-3: #0061c9;
}

body {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.container-header {
  flex: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid var(--color-dark-0);
}

.container-main {
  flex: 1;
  padding: 20px;
}

/* 普通块样式 */
.drag-block {
  transition: none;
  border-radius: 4px;
  user-select: none;
}

.drag-block#block-1 {
  background-color: var(--color-drag-block-type-1);
}

.drag-block#block-2 {
  background-color: var(--color-drag-block-type-2);
}

.drag-block#block-3 {
  background-color: var(--color-drag-block-type-3);
}

/* 拖拽中的样式 */
.drag-block.dragging {
  opacity: 0.95;
  transform: scale(1.01);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  /* z-index: 100 !important; */
}

/* 吸附样式 */
.drag-block.dragging.snap {
  box-shadow: 0 0 5px 1px var(--color-important);
}

/* 选中样式 */
.drag-block.selected:not(.snap):not(.dragging) {
  transform: scale(1.01);
  box-shadow: 0px 0px 0px 2px var(--color-dark-0);
}

.el-message-box.clear-workspace-dialog {
  border-radius: 12px;
  padding: 20px 25px;
}

.clear-workspace-dialog .el-button {
  border-radius: 8px;
}

.clear-workspace-dialog .el-button.cancel-btn {
  background-color: #ffffff;
  border-color: gray;
}

.clear-workspace-dialog .el-button.cancel-btn:hover {
  background-color: var(--color-light-3);
  color: black;
  border-color: black;
}

.clear-workspace-dialog .el-button.confirm-btn {
  background-color: var(--color-important);
  border-color: var(--color-important-dark);
}

.clear-workspace-dialog .el-button.confirm-btn:hover {
  background-color: var(--color-important-dark);
}

.canvas-controls .clear-btn {
  background-color: var(--color-important);
  color: white;
  border-color: var(--color-important-dark);
}

.canvas-controls .clear-btn:hover {
  background-color: var(--color-important-dark);
}

.canvas-controls .clear-btn.invalid {
  background-color: gainsboro;
  cursor: auto;
}

.home-aside {
  z-index: 1;
  height: 100%;
  background-color: var(--color-light-3);
  border-right: 1px solid var(--color-dark-2);
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  /* padding: 20px; */
  gap: 10px;
}

.canvas-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.canvas-controls button {
  padding: 4px 8px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 8px;
  background-color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.canvas-controls button .icon {
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
}

.delete-zone {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 60px;
  background-color: var(--color-important-light);
  opacity: 0.75;
  border: 2px dashed #cc0000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  z-index: 5;
  transition: all 0.2s ease;
  pointer-events: none;
}

.delete-zone.active {
  background-color: var(--color-important);
  opacity: 0.9;
  border-color: #cc0000;
}

.aside-toggle-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 60px;
  background-color: #f0f2f5;
  /* border: 2px solid #dcdfe6; */
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.aside-toggle-button:hover {
  background-color: #e4e7ed;
}
